################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/BridgeDemoP/obj
/src/BridgeDemoP/bin/Debug/net5.0
