################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/BridgeDemoP/obj
/src/BridgeDemoP/bin/Debug/net5.0
/src/BridgeDemo.Tests/obj
/src/BridgeDemo.Tests/bin/Debug/net5.0
/src/.vs/BridgeDemoP/v16/TestStore/0
